[padding] {
  padding: 16px;
  box-sizing: border-box;
}

[has-navbar] {
  //noinspection CssInvalidFunction
  margin-bottom: calc(52px + env(safe-area-inset-bottom));

  // Cuando se ejecute como app y no como web habrá que poner los siguientes
  // estilos para que la barra de scroll no se sobreponga a la navbar
  //height: calc(100vh - 52px);
  //overflow: auto;
  //box-sizing: border-box;
}

[has-header] {
  margin-top: 62px;
}

[header] {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $background-color;
  padding: 16px;
  box-sizing: border-box;
  z-index: 700;

  h1 {
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a {
    display: flex;
  }

  img {
    margin-left: 16px;

    &:active {
      opacity: 0.5;
    }
  }
}

[checkbox] {

  input {
    display: none
  }

  input + label {
    display: flex;

    span {
      background: $text-color;
      height: 16px;
      width: 16px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 2px;
      margin-right: 4px;
    }
  }

  input:checked + label {
    span {
      &::after {
        content: '';
        display: block;
        width: 3px;
        height: 9px;
        border: solid $background-color;
        border-width: 0 3px 3px 0;
        margin-left: 5px;
        margin-top: 1px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

[only-margin-left] {
  margin-left: 0 !important;
  margin-right: 16px;
}
