[padding] {
  padding: 16px;
  box-sizing: border-box;
}

[has-navbar] {
  //noinspection CssInvalidFunction
  margin-bottom: calc(52px + env(safe-area-inset-bottom));

  // Cuando se ejecute como app y no como web habrá que poner los siguientes
  // estilos para que la barra de scroll no se sobreponga a la navbar
  //height: calc(100vh - 52px);
  //overflow: auto;
  //box-sizing: border-box;
}

[has-header] {
  margin-top: 62px;
}

[header] {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $background-color;
  padding: 16px;
  box-sizing: border-box;
  z-index: 700;

  h1 {
    margin-right: auto;
  }

  a {
    display: flex;
  }

  img {
    margin-left: 16px;

    &:active {
      opacity: 0.5;
    }
  }
}
