:root {
  --primary-color: #FFFFFF;
  --danger-color: #BD0000;
  --background-color: #1c1b1d;
  --text-color: #C1C1C1;
  --navbar-color: #1c1b1d;
  --card-color: #242326;
  --card-shadow-color: rgba(0, 0, 0, 0.25);
  --secondary-text-color: #464646;
}

//:root[theme='orange'] {
//  --primary-color: #05A8FF;
//--danger-color: darkred;
//--background-color: #0D0D0D;
//--text-color: #C1C1C1;
//--toolbar-color: black;
//--card-color: #141414;
//--secondary-text-color: #464646;
//}

$primary-color: var(--primary-color);
$danger-color: var(--danger-color);
$background-color: var(--background-color);
$text-color: var(--text-color);
$navbar-color: var(--navbar-color);
$card-color: var(--card-color);
$card-shadow-color: var(--card-shadow-color);
$secondary-text-color: var(--secondary-text-color);
