:root {
  --primary-color: #1A6f4C;
  --danger-color: darkred;
  --background-color: #0D0D0D;
  --text-color: #C1C1C1;
  --toolbar-color: black;
  --card-color: #141414;
  --secondary-text-color: #464646;
}

//:root[theme='orange'] {
//  --primary-color: #6f3519;
//  --background-color: #0D0D0D;
//  --text-color: #C1C1C1;
//  --toolbar-color: black;
//  --card-color: #141414;
//  --subtitle-color: #464646;
//}

$primary-color: var(--primary-color);
$danger-color: var(--danger-color);
$background-color: var(--background-color);
$text-color: var(--text-color);
$toolbar-color: var(--toolbar-color);
$card-color: var(--card-color);
$secondary-text-color: var(--secondary-text-color);
